In [1]:
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
import pandas as pd
import functions

In [2]:
#classes for pET15 and 21
classes = pd.read_csv('datasets_used/class.txt', sep='\t')

In [13]:
#pET15 
pET15_ =  pd.read_csv('datasets_used/pET15_NESG.txt', sep='\t', header=None)
pET15_.head()

,0,1,2,3,4,5,6,7
0,BbCD00339994,BB0726,ATP-binding protein (ylxH-3),Borrelia burgdorferi,ATGACTAAAATTATTCCTGTGGCAAGTGGCAAAGGCGGTGTTGGAA...,Tested_Not_Found,Not_Tested,Not_Tested
1,BbCD00339995,BB0726,ATP-binding protein (ylxH-3),Borrelia burgdorferi,ATGACTAAAATTATTCCTGTGGCTAGTGGCAAAGGCGGTGTTGGAA...,Tested_Not_Found,Not_Tested,Not_Tested
2,BbCD00584211,BB_0282,flagellar protein FlbD,Borrelia burgdorferi,ATGATTTTTGTAACTAAGCTTAATGGTGATGGATATTATTTAAATC...,Protein_Confirmed,Protein_Soluble,Not_Tested
3,BcCD00331746,BC2763,putative cytoplasmic protein,Bacillus cereus,ATGGATAAAGAGAATCCACGTGTAGGAGATAAATATATTACTGTTC...,Protein_Confirmed,Tested_Not_Soluble,Not_Tested
4,BcCD00331747,BC3411,XoxI,Bacillus cereus,ATGGCACATACTACTACATCTATGGAAATTTTCGGTTCACCTGAAC...,Protein_Confirmed,Protein_Soluble,Not_Tested

In [16]:
#pET15

In [12]:
pET15_.rename(columns={0:'Accession', 4:'Sequence', 6:'Type'}, inplace=True)
pET15_['Sequence'] = pET15_['Sequence'].apply(lambda x:'ATGGGCCATCACCATCACCATCACAGCCAT' + x) #His tag
#copy sequence and accession
pET15_seq = pET15_[['Accession', 'Sequence']].copy()
pET15 = pd.merge(pET15_seq, classes, on="Accession").dropna()
pET15 = pET15.drop_duplicates(keep=False, inplace=False).copy()
pET15['Accession'] = pET15['Accession'] + '_pET15'
pET15.shape

(4827, 3)

In [5]:
#pET21
pET21_ =  functions.fasta_reader('datasets_used/pET21_NESG.fas')
pET21_.head()

      Accession                                           Sequence
0  BbCD00385183  ATGCTCACTATCGATACGGCGTCCCGCACTTTTCACTGCAAGACCT...
1  BbCD00385184  ATGACCCTGAAAACCATGACGCTGGCTTTTGCCGTAACCGGCCTTG...
2  BcCD00540749  ATGAACGGGAAGCAAGTAAACAATGTGGAAGGCGTTGTCACAGCGC...
3  BcCD00583995  ATGGGAGATAAATATATTACTGTTCAAAAAGTCGGTAAGAAAATAT...
4  BsCD00423013  ATGAGCTTGCAATTTAGCGTACTTGCGAGCGGGAGTACGGGAAATG...

In [6]:
pET21 = pd.merge(pET21_, classes, on="Accession").dropna()
pET21 = pET21.drop_duplicates(keep=False, inplace=False).copy()
pET21['Accession'] = pET21['Accession'] + '_pET21'
pET21.shape

(11437, 3)

In [7]:
pET_merged = pd.concat([pET15, pET21], sort=False, keys=['pET15', 'pET21']) #keys make easier to reference later
#check for unknown bases
pET_merged['unknown_bases'] = pET_merged['Sequence'].apply(lambda x: 'X' in x or 'Z' in x or '*' in x or 'N' in x)
pET = pET_merged.loc[pET_merged['unknown_bases'] == False].drop('unknown_bases', 1)
pET.shape

(16255, 3)

In [8]:
pET21.shape, pET15.shape, pET.shape, pET.loc['pET21'].shape, pET.loc['pET15'].shape

((11437, 3), (4827, 3), (16255, 3), (11430, 3), (4825, 3))

In [10]:
pET.head()

                  Accession  \
pET15 0  BbCD00339994_pET15
      1  BbCD00339995_pET15
      2  BbCD00584211_pET15
      3  BcCD00331746_pET15
      4  BcCD00331747_pET15

                                                  Sequence  Class
pET15 0  ATGGGCCATCACCATCACCATCACAGCCATATGACTAAAATTATTC...      0
      1  ATGGGCCATCACCATCACCATCACAGCCATATGACTAAAATTATTC...      0
      2  ATGGGCCATCACCATCACCATCACAGCCATATGATTTTTGTAACTA...      2
      3  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1
      4  ATGGGCCATCACCATCACCATCACAGCCATATGGCACATACTACTA...      2

In [9]:
#Solubility

solubility_test = pET.loc[pET['Class'] != 0].copy()
solubility_test.shape

(12222, 3)

In [11]:
solubility_test['Solubility'] = solubility_test['Class'].replace(1,0)
solubility_test['Solubility'] = solubility_test['Solubility'].replace(2,1)
solubility_test.head()

                  Accession  \
pET15 2  BbCD00584211_pET15
      3  BcCD00331746_pET15
      4  BcCD00331747_pET15
      5  BcCD00341383_pET15
      6  BcCD00591009_pET15

                                                  Sequence  Class  Solubility
pET15 2  ATGGGCCATCACCATCACCATCACAGCCATATGATTTTTGTAACTA...      2           1
      3  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      4  ATGGGCCATCACCATCACCATCACAGCCATATGGCACATACTACTA...      2           1
      5  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      6  ATGGGCCATCACCATCACCATCACAGCCATATGAGTTTGAAGGGGA...      2           1

In [12]:
solubility_test.loc['pET15'].to_pickle("results/pET15.pkl.gz", compression='gzip')
solubility_test.loc['pET21'].to_pickle("results/pET21.pkl.gz", compression='gzip')

In [14]:
#translate to protein
solubility_test['Protein'] = solubility_test['Sequence'].apply(functions.translate)
solubility_test.shape

(12222, 5)

In [15]:
#remove seq with premature stop codons

solubility_test['stop'] = solubility_test['Protein'].apply(lambda x: 'stop' in x)
solubility_ = solubility_test.loc[solubility_test['stop'] == False].drop('stop', 1)
solubility_.shape

(12216, 5)

In [21]:
solubility_.head()

                  Accession  \
pET15 2  BbCD00584211_pET15
      3  BcCD00331746_pET15
      4  BcCD00331747_pET15
      5  BcCD00341383_pET15
      6  BcCD00591009_pET15

                                                  Sequence  Class  Solubility  \
pET15 2  ATGGGCCATCACCATCACCATCACAGCCATATGATTTTTGTAACTA...      2           1
      3  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      4  ATGGGCCATCACCATCACCATCACAGCCATATGGCACATACTACTA...      2           1
      5  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      6  ATGGGCCATCACCATCACCATCACAGCCATATGAGTTTGAAGGGGA...      2           1

                                                   Protein
pET15 2  MGHHHHHHSHMIFVTKLNGDGYYLNPYHIESIEANPDTTILLMNGK...
      3  MGHHHHHHSHMDKENPRVGDKYITVQKVGKKIFEAEVEILEYDAPH...
      4  MGHHHHHHSHMAHTTTSMEIFGSPEQVWQLIGGFNSLPDWLPYIPS...
      5  MGHHHHHHSHMDKENPRVGDKYITVQKVGKKIFEAEVEILEYDAPH...
      6  MGHHHHHHSHMSLKGKRIGFGFTGSHCTYEEVMPHLEKLIAEGAEV...

In [22]:
final_df = solubility_.drop_duplicates(keep=False, inplace=False).copy()
final_df.shape

(12216, 5)

In [23]:
final_df.head()

                  Accession  \
pET15 2  BbCD00584211_pET15
      3  BcCD00331746_pET15
      4  BcCD00331747_pET15
      5  BcCD00341383_pET15
      6  BcCD00591009_pET15

                                                  Sequence  Class  Solubility  \
pET15 2  ATGGGCCATCACCATCACCATCACAGCCATATGATTTTTGTAACTA...      2           1
      3  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      4  ATGGGCCATCACCATCACCATCACAGCCATATGGCACATACTACTA...      2           1
      5  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      6  ATGGGCCATCACCATCACCATCACAGCCATATGAGTTTGAAGGGGA...      2           1

                                                   Protein
pET15 2  MGHHHHHHSHMIFVTKLNGDGYYLNPYHIESIEANPDTTILLMNGK...
      3  MGHHHHHHSHMDKENPRVGDKYITVQKVGKKIFEAEVEILEYDAPH...
      4  MGHHHHHHSHMAHTTTSMEIFGSPEQVWQLIGGFNSLPDWLPYIPS...
      5  MGHHHHHHSHMDKENPRVGDKYITVQKVGKKIFEAEVEILEYDAPH...
      6  MGHHHHHHSHMSLKGKRIGFGFTGSHCTYEEVMPHLEKLIAEGAEV...

## This is the cleaned data for pET

In [24]:
final_df.to_pickle("results/pET_complete.pkl.gz", compression='gzip')

In [16]:
# reading
final_df = pd.read_pickle('results/pET_complete.pkl.gz', compression='infer')

In [5]:
# number of pET15
final_df.loc['pET15'].shape #4825

(3436, 5)

In [7]:
# number of pET12
final_df.loc['pET21'].shape #4825

(8780, 5)

In [22]:
# This is used for protR package
new1 = final_df.loc['pET15'].copy()
new1['Accession'] = new1['Accession'].apply(lambda x:x.split('_')[0])
new1.to_csv('results/pET15_cleaned.csv', index=None)

new2 = final_df.loc['pET21'].copy()
new2['Accession'] = new2['Accession'].apply(lambda x:x.split('_')[0])
new2.to_csv('results/pET21_cleaned.csv', index=None)

## This will make fasta for clustering

In [50]:
#Fasta for clustering and cross validation

final_df = pd.read_pickle('results/pET_complete.pkl.gz', compression='infer')
final_df['Accession_fasta'] = '>' + final_df['Accession']
# final_df.to_csv('results/pET_full.fa', columns=['Accession_fasta', 'Protein'], index=None, sep='\n', header=None)

final_df['Protein']['pET15'] = final_df['Protein']['pET15'].apply(lambda x:x[10:])
final_df['Protein']['pET21'] = final_df['Protein']['pET21'].apply(lambda x:x[:-8])
final_df.to_csv('results/pET_full_without_his_tag.fa', columns=['Accession_fasta', 'Protein'],\
                index=None, sep='\n', header=None)

/home/bikash/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/bikash/.local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
final_df.head() #remove his tag fro clustering

                  Accession  \
pET15 2  BbCD00584211_pET15
      3  BcCD00331746_pET15
      4  BcCD00331747_pET15
      5  BcCD00341383_pET15
      6  BcCD00591009_pET15

                                                  Sequence  Class  Solubility  \
pET15 2  ATGGGCCATCACCATCACCATCACAGCCATATGATTTTTGTAACTA...      2           1
      3  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      4  ATGGGCCATCACCATCACCATCACAGCCATATGGCACATACTACTA...      2           1
      5  ATGGGCCATCACCATCACCATCACAGCCATATGGATAAAGAGAATC...      1           0
      6  ATGGGCCATCACCATCACCATCACAGCCATATGAGTTTGAAGGGGA...      2           1

                                                   Protein  \
pET15 2  MIFVTKLNGDGYYLNPYHIESIEANPDTTILLMNGKKLIVKEKVEE...
      3  MDKENPRVGDKYITVQKVGKKIFEAEVEILEYDAPHIISLGSEMKQ...
      4  MAHTTTSMEIFGSPEQVWQLIGGFNSLPDWLPYIPSSKLTEGGRVR...
      5  MDKENPRVGDKYITVQKVGKKIFEAEVEILEYDAPHIISLGSEMKQ...
      6  MSLKGKRIGFGFTGSHCTYEEVMPHLEKLIAEGAEVRPVVSYTVQS...

             Accession_fasta
pET15 2  >BbCD00584211_pET15
      3  >BcCD00331746_pET15
      4  >BcCD00331747_pET15
      5  >BcCD00341383_pET15
      6  >BcCD00591009_pET15

## eSOL data

In [56]:
#ecoli dataset

ecol = functions.fasta_reader('datasets_used/ecoli_W3110.faa')
ecol['ECK number'] = ecol['Accession'].apply(lambda x:x.split(' ')[2])
ecol['JW'] = ecol['Accession'].apply(lambda x:x.split(' ')[0])

#get solubility
sol_values = pd.read_csv('datasets_used/all_data_esol.tab', sep='\t')
sol_values.head()
sol = sol_values[['ECK number', 'Solubility(%)']]

#merge with solubility
ecol_merg = ecol.merge(sol, on='ECK number', how='left').dropna()
ecol_merg.shape

(3200, 5)

In [57]:
#filter unknown bases
ecol_merg['unknown_bases'] = ecol_merg['Sequence'].apply(lambda x: 'X' in x or 'Z' in x or '*' in x )
ecoli_w3110 = ecol_merg.loc[ecol_merg['unknown_bases'] == False]

#add tags
#https://www.pnas.org/content/106/11/4201.long

ecoli_w3110['Sequence'] = ecoli_w3110['Sequence'].apply(lambda x: 'MRGSHHHHHHTDPALRA' + x + 'GLCGR')
ecoli_w3110 =  ecoli_w3110.dropna()
ecoli_w3110.shape

/home/bikash/.local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(3198, 6)

In [58]:
ecoli_w3110 = ecoli_w3110[['Accession', 'Sequence', 'ECK number', 'JW', 'Solubility(%)']].copy()
ecoli_w3110.head()

,Accession,Sequence,ECK number,JW,Solubility(%)
2,JW0002 thrB ECK0003,MRGSHHHHHHTDPALRAMVKVYAPASSANMSVGFDVLGAAVTPVDG...,ECK0003,JW0002,32.0
3,JW0003 thrC ECK0004,MRGSHHHHHHTDPALRAMKLYNLKDHNEQVSFAQAVTQGLGKNQGL...,ECK0004,JW0003,18.0
4,JW0004 yaaX ECK0005,MRGSHHHHHHTDPALRAMKKMQSIVLALSLVLVAPMAAQAAEITLV...,ECK0005,JW0004,78.0
5,JW0005 yaaA ECK0006,MRGSHHHHHHTDPALRAMLILISPAKTLDYQSPLTTTRYTLPELLD...,ECK0006,JW0005,7.0
7,JW0007 talB ECK0008,MRGSHHHHHHTDPALRAMTDKLTSLRQYTTVVADTGDIAAMKLYQP...,ECK0008,JW0007,85.0

In [59]:
ecoli_w3110.to_pickle('results/ecoli.pkl.gz', compression='gzip')